{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sijoitus</th>
                        <th>Nimi</th>
                        <th>Tiedekunta</th>
                        <th>Pisteet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Matti</td>
                        <td>Tilastotiede</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Pekka</td>
                        <td>Fysiikka</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Pauli</td>
                        <td>Tietojenkäsittelytiede</td>
                        <td>4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

