{% extends "base.html" %}
{% block content %}


<form method="post" action="{{base_path}}/rekisteroityminen">
    <div class="form-group">
        <label>Nimi:</label>
        <input name="nimi" type="text" class="form-control" value="{{attributes.nimi}}" placeholder="Kirjoita etu- ja sukunimesi">
    </div>

    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="kayttajanimi" type="text" class="form-control" value="{{attributes.kayttajanimi}}" placeholder="Kirjoita käyttäjätunnus">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input name="salasana" type="text" class="form-control" value="{{attributes.salasana}}" placeholder="Kirjoita salasana">
    </div>

    <div class="form-group">
        <label>Pääaine</label>
        <input name="paaaine" class="form-control" value="{{attributes.paaaine}}">
    </div>

    <div class="form-group">    
        <button type="submit" class="btn btn-primary">Rekisteröidy!</button>
    </div>
</form>

{% endblock %}
