{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-offset-3">
        <h2>Menneet kilpailut</h2>
    </div>
</div>
{% for kilpailu in kilpailut %}
<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">{{kilpailu.kilpailun_nimi}}</div>
            <div class="panel-body">{{kilpailu.kilpailun_kuvaus}}</div>
        </div>
    </div>

    <div class="row" id="ajankohta">
        <div class="col-md-12">
            <div class="panel-body">{{kilpailu.ajankohta}} &emsp; {{kilpailu.kilpailupaikka}}</div>
        </div>
    </div>

    <div class="panel-footer"><a href="{{base_path}}/kilpailun_sivu/tulokset/{{kilpailu.kilpailutunnus}}">Tulokset</a> <a href="{{base_path}}/kilpailun_sivu/{{kilpailu.kilpailutunnus}}">Ilmoittautuneet</a></div>
</div>
{% endfor %}

<div class="row">
    <div class="col-lg-offset-8">
        <a href="http://laimikko.users.cs.helsinki.fi/KuJudo/kilpailut">Tulossa olevat kilpailut</a>
    </div>
</div>

{% endblock %}