{% extends "base.html" %}
{% block content %}
<h1> Näin kaikki alkoi</h1>
<div class="row">
    <div class="col-md-12">Kumpulan Judokat perustettiin hämyisenä iltana lokakuussa 9. elokuuta 1981. Helsingin yliopiston luonnontieteilijöiden keskuudessa
        oli jo pitkään kummunnut ajatus judoseurasta, joka  yhdistäisi nämä jalot tiedekunnat. Perustajakokouksessa
        oli läsnä kahdeksan piinkovaa koodaria ja judokaa, sekä muutamia matemaatikkoja ja yksi tilastotieteilijä.</div>
</div>

<div class="row">
    <div class="col-md-6">
        <p></p>
        Nykyään jäseniä on jo lähemmäs 200. Seuraan kuuluu niin nykyisiä opiskelijoita, kuin alumneja ja henkilökuntaa.
        Vaikka seura oli alunperin suunnattu Kumpulan luonnontieteilijöille, hyväksytään jäseniksi myös muiden alojen
        opiskelijoita. Tällöin autismin taso voi kuitenkin olla liian kova, varsinkin jos kyse on humanistivässyköistä.
        <p></p>
        Seuramme jäsenet osallistuvat judokilpailuihin, joita hallinnoi Yliopistoliikunnan keskusjärjestö. Kilpailut voivat
        olla tiedekuntien välisiä tai tiedekuntien sisäisiä kilpailuja. Ylläpidämme sivustollamme jäseniemme välistä ranking-taulukkoa,
        josta voi nähdä rekisteröityneiden jäseniemme saavuttamia pisteitä erinäisissä kilpailuissa.
    </div>
    <div class="col-md-offset-6">
        <img src="http://2.bp.blogspot.com/_QGeh0LDcX_A/TG6B8iA77FI/AAAAAAAACGQ/hksLn65fN9w/s400/kimenokata+tanto+haragatame.gif" alt="old man kicking ass">
    </div>
</div>
<div class="row">
    <div class="col-md-offset-6">Java Ba-si-ko. Piinkova judoka ja Basic-koodari, sekä yksi Kumpulan Judon perustajajäsenistä.</div>
</div>
{% endblock %}
