{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-offset-3">
        <h2>Tulossa olevat kilpailut</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Kumpulan judokisat</div>
            <div class="row">
                <div class="panel-body">Mahtavaakin mahtavammat judokisat.</div>
            </div>
            <div class="row">
                <div class="panel-body">10.12.2017, Unisport Kumpula, 10.00</div>
            </div>
            <div class="panel-footer">Ilmottaudu Kuvaus</div>
            
        </div>
    </div>
</div>
{% endblock %}

