{% extends "base.html" %}
{% block content %}
<h2>Kirjaudu sisään</h2>

<form method="post" action="{{base_path}}/kirjautumissivu">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input class="form-control" name="kayttajatunnus" value={{username}} type="text" placeholder="Käyttäjätunnus">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input class="form-control" type="text" name="password" placeholder="Salasana">
    </div>

    <button type="submit" class="btn btn-info">Kirjaudu sisään</button>
    <p></p>
    <p></p>
    <p>Etkö ole vielä jäsen?</p>
    <p></p>
    <p></p>
</form>
    
<form action="http://laimikko.users.cs.helsinki.fi/KuJudo/rekisteroityminen">
    <button type="submit" class="btn-success">Liity tästä!</button>

</form>
{% endblock %}