{% extends "base.html" %}
{% block content %}
<form method="post" action="{{base_path}}/uusi_kilpailu">
    <div class="form-group">
        <label>Kilpailun nimi</label>
        <input name="kilpailun_nimi" type="text" class="form-control" value="{{attributes.kilpailun_nimi}}">
    </div>

    <div class="form-group">
        <label>Kilpailupaikka</label>
        <input name="kilpailupaikka" type="text" class="form-control" value="{{attributes.kilpailupaikka}}">
    </div>

    <div class="form-group">
        <label>Kilpailun kuvaus</label>
        <textarea id="kilpailun_kuvaus" class="text" cols="75" rows="10" name="kilpailun_kuvaus">{{attributes.kilpailun_kuvaus}}</textarea>

    </div>

    <div class="form-group">
        <label>Kilpailun ajankohta (Kirjoita muodossa Vuosi-kuukausi-päivä)</label>
        <input name="kilpailun_paiva" type="text" class="form-control" style="width:100px">
    </div>

    <div class="form-group">
        <label>Kilpailun alkamisaika (Kirjoita muodossa tt:mm)</label>
        <input name="kilpailun_kellonaika" type="text" class="form-control" style="width:100px">
    </div>

    <div class="form-group">
        <label>Keltainen/Oranssi painoluokat</label><br>
        <input type="checkbox" name="painoluokat_alemmat[]" value="-70">-70kg<br>
        <input type="checkbox" name="painoluokat_alemmat[]" value="-80">-80kg<br>
        <input type="checkbox" name="painoluokat_alemmat[]" value="-90">-90kg<br>
        <input type="checkbox" name="painoluokat_alemmat[]" value="-100">-100kg<br>
        <input type="checkbox" name="painoluokat_alemmat[]" value="+100">+100kg<br>
    </div>

    <div class="form-group">
        <label>Vihreä/Sininen/Ruskea/Musta painoluokat</label><br>
        <input type="checkbox" name="painoluokat_ylemmat[]" value="-70">-70kg<br>
        <input type="checkbox" name="painoluokat_ylemmat[]" value="-80">-80kg<br>
        <input type="checkbox" name="painoluokat_ylemmat[]" value="-90">-90kg<br>
        <input type="checkbox" name="painoluokat_ylemmat[]" value="-100">-100kg<br>
        <input type="checkbox" name="painoluokat_ylemmat[]" value="+100">+100kg<br>
    </div>

    <div class="form-group">    
        <button type="submit" class="btn btn-primary">Lisää kilpailu!</button>
    </div>
</form>


{% endblock %}