{% extends "base.html" %}
{% block content %}
<h4 id="yllapitoOtsikko">Hallinnoi kilpailijoita</h4>
<table class="table table-bordered" id="yllapitoTaulukko">
    <thead>
        <tr>        
            <th>Nimi</th>
            <th>Pääaine</th>
        </tr>
    </thead>

    <tbody>
        {% for kilpailija in kilpailijat %}
        <tr>
            <td><a href="{{base_path}}/kayttajan_sivu/{{kilpailija.ktunnus}}">{{kilpailija.nimi}}</td>
            <td>{{kilpailija.paaaine}}</td>
        </tr>
        {% endfor %} 
    </tbody>
</table>

<h4 id="yllapitoOtsikko">Muokkaa tulossa olevia kilpailuja</h4>
    <table class="table table-bordered" id="yllapitoTaulukko">
    <thead>
        <tr>        
            <th>Nimi</th>
            <th>Ajankohta</th>
            <th>Kilpailupaikka</th>

        </tr>
    </thead>

    <tbody>
        {% for tulossa in tulossaOlevat %}
        <tr>
            <td><a href="{{base_path}}/kilpailun_sivu/{{tulossa.kilpailutunnus}}/muokkaa">{{tulossa.kilpailun_nimi}}</td>
            <td>{{tulossa.ajankohta}}</td>
            <td>{{tulossa.kilpailupaikka}}</td>
        </tr>
        {% endfor %} 
    </tbody>
</table>

<h4 id="yllapitoOtsikko">Muokkaa menneiden kilpailujen tuloksia</h4>
    <table class="table table-bordered" id="yllapitoTaulukko">
    <thead>
        <tr>        
            <th>Nimi</th>
            <th>Ajankohta</th>
            <th>Kilpailupaikka</th>

        </tr>
    </thead>
    <tbody>
        {% for mennyt in menneet %}
        <tr>
            <td><a href="{{base_path}}/Yllapitaja/muokkaa_kilpailun_tuloksia/{{mennyt.kilpailutunnus}}">{{mennyt.kilpailun_nimi}}</td>
            <td>{{mennyt.ajankohta}}</td>
            <td>{{mennyt.kilpailupaikka}}</td>
        </tr>
        {% endfor %} 
    </tbody>
    </table>

    {% endblock %}