{% extends "base.html" %}
{% block content %}
 <div id="main-container">

<form method="post" action="{{base_path}}/kayttajan_sivu/{{attributes.ktunnus}}">

    {% for attributes in attributes %}
    {% endfor %}


    <div class="form-group">
        <label>Nimi:</label>
        <input name="nimi" type="text" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="kayttajanimi" type="text" class="form-control" value="{{attributes.kayttajanimi}}">
    </div>


    <div class="form-group">
        <label>Salasana</label>
        <input name="salasana" type="text" class="form-control" value="{{attributes.salasana}}">
    </div>

    <div class="form-group">
        <label>Pääaine</label>
        <input name="paaaine" type="text" class="form-control" value="{{attributes.paaaine}}">
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">    
                <button type="submit" class="btn btn-primary">Päivitä tiedot!</button>
            </div>
        </div>

    </div>

</form>
<form method="post" action="{{base_path}}/kayttajan_sivu/{{attributes.ktunnus}}/destroy" style="display: inline-block">
    <button id="delete" type="submit" class="btn btn-danger">Poista käyttäjätunnus</button>
</form>




{% endblock %}

