{% extends "base.html" %}
{% block content %}
<form method="post" action="{{base_path}}/rekisteroityminen">
    <div class="form-group">
        <label>Nimi:</label>
        <input name="nimi" type="text" class="form-control" placeholder="Kirjoita etu- ja sukunimesi">
    </div>

    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="kayttajatunnus" type="text" class="form-control" placeholder="Kirjoita käyttäjätunnus">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input name="salasana" type="text" class="form-control" placeholder="Kirjoita salasana">
    </div>

    <div class="form-group">
        <label>Valitse pääaine:</label>
        <select name="paaaine" class="form-control">
            <option>Tietojenkäsittelytiede</option>
            <option>Matematiikka</option>
            <option>Tilastotiede</option>
            <option>Kemia</option>
            <option>Fysiikka</option>
            <option>Maantiede</option>
            <option>Alumni</option>
            <option>Muun alan opiskelija</option>
        </select>
    </div>

    <div class="form-group">    
        <button type="submit" class="btn btn-primary">Päivitä tiedot!</button>
    </div>
</form>

{% endblock %}
